:root {
  --red-color: #ff877f;
  --red-active-color: #f44708;
  --green-color: #cee27d;
  --green-active-color: #85ef47;
  --blue-color: #a9dff2;
  --blue-active-color: #20a4f3;
  --yellow-color: #fdfdbf;
  --yellow-active-color: #ffd400;
  --global-background: #272d35;
  --btn-active-background: rgb(48, 65, 68);
  --btn-background: #4f6367;
  --heading-primary-color: #f9f6f2;
  --heading-secondary-color: #dff0ea;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:wght@300;500&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  background-color: var(--global-background);
  font-family: "Roboto", sans-serif;
}

#sk,
#en {
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 0.5s;
}

#sk {
  display: none;
  opacity: 0;
}

#en-main,
#sk-main
{
  height: 100vh;
  width: 100vw;
}

#en-projects,
#sk-projects {
  min-height: 100vh;
  width: 100vw;
}

#en-main,
#sk-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  height: 100%;
  max-width: 1000px;
}

.main-content {
  padding: 0 1rem;
  color: var(--heading-primary-color);
  font-weight: 300;
  text-align: center;
  line-height: 2rem;
  font-size: 1.5rem;
}

.main-content a {
  color: var(--heading-primary-color);
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 500;
  cursor: pointer;
}

.main-content a:hover {
  text-decoration: underline;
}

.language {
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: flex-end;
}

.language a {
  padding: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--btn-active-background);
  transition: transform ease-in-out 0.2s;
}

.language a:hover {
  transform: scale(1.2);
}

.next,
.previous {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.next a,
.previous a {
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: var(--heading-secondary-color) 1px solid;
  background: var(--heading-secondary-color);
  color: var(--btn-active-background);
  text-decoration: none;
  transition: transform ease-in-out 0.3s;
}

.next a:hover,
.previous a:hover {
  transform: scale(1.1);
}

.previous {
  margin: 2rem 0;
}

#en-main,
#sk-main {
  background: linear-gradient(
    0deg,
    rgba(1, 103, 149, 1) 0%,
    rgba(27, 36, 49, 1) 100%
  );
}

#en-projects,
#sk-projects {
  background: linear-gradient(
    0deg,
    rgba(4, 3, 72, 1) 0%,
    rgba(30, 72, 143, 1) 75%,
    rgba(1, 103, 149, 1) 100%
  );
  min-height: 100vh;
}

#en-projects,
#sk-projects {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.container {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  border: 3px solid #000;
  border-radius: 10px;
  margin: 1rem 1rem 0 1rem;
  text-align: center;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.2);
}

.btn:last-of-type {
  margin-bottom: 1rem;
}

.btn-red {
  color: var(--red-active-color);
  border-color: var(--red-active-color);
}

.btn-green {
  color: var(--green-active-color);
  border-color: var(--green-active-color);
}

.btn-yellow {
  color: var(--yellow-active-color);
  border-color: var(--yellow-active-color);
}

.btn-blue {
  color: var(--blue-active-color);
  border-color: var(--blue-active-color);
}

.btn-neutral {
  color: white;
  border: 5px solid;
  border-image-source: linear-gradient(160deg, rgba(255,255,255,1) 0%, rgba(120,140,201,1) 46%, rgba(16,66,214,1) 88%);
  border-image-slice: 1;
  border-radius: 10px;
}

.btn h2 {
  margin-bottom: 1rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
  }

  .btn {
    padding: 2rem 3rem;
  }

  .btn:last-of-type {
    margin-bottom: 0;
  }

  .btn:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.4);
  }
  /* 
  .btn-red {
    color: var(--red-color);
    border-color: var(--red-color);
  }

  .btn-red:hover {
    color: var(--red-active-color);
    border-color: var(--red-active-color);
  }

  .btn-green {
    color: var(--green-color);
    border-color: var(--green-color);
  }

  .btn-green:hover {
    color: var(--green-active-color);
    border-color: var(--green-active-color);
  }

  .btn-yellow {
    color: var(--yellow-color);
    border-color: var(--yellow-color);
  }

  .btn-yellow:hover {
    color: var(--yellow-active-color);
    border-color: var(--yellow-active-color);
  }

  .btn-blue {
    color: var(--blue-color);
    border-color: var(--blue-color);
  }

  .btn-blue:hover {
    color: var(--blue-active-color);
    border-color: var(--blue-active-color);
  } */
}
